<div class="container" style="margin:100px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>AGREGAR UNA NUEVA HIERBA</h4>
            <form action="/admin/hierbas/agregar" method="post" enctype="multipart/form-data">
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="Nombre" name="nombre">
                </div>
                <div class="mb-3 row">
                    <textarea type="text" class="form-control" placeholder="Descripcion" name="descripcion"></textarea>
                </div>
                <div class="mb-3 row">
                    <label>Imagen:
                        <input type="file" name="picture" id="picture">
                     </label>
                </div>
                <button type="submit" class="btn btn-primary">Grabar</button>
            </form>
            {{#if error}}
                <h5>{{message}}</h5>
            {{/if}}
        </div>
    </div>

</div>