<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/hierbas.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Raíz Serrana</title>
  </head>
  <body>
     <header>
        <div class="holder">
            <img src="/images/logo.jpg" width="100" alt="RaizSerrana">
            <h2>
                RAIZ SERRANA
            </h2>
    </div>
    </header>
    {{{body}}}

    <footer>
        <div class="holder">
            <p>Diseñado por Yugo &copy;año</p>
        </div>
    </footer>
  </body>
</html>
