footer{
    margin-top: 0px;
    text-align: right;
    vertical-align: middle;
    background: rgb(122,213,112);
    background: linear-gradient(205deg, rgba(122,213,112,0.3379552504595589) 100%, rgba(20,255,0,1) 100%);
    height: 50px;
}
