header{
    background: rgb(115,213,112);
    background: linear-gradient(205deg, rgba(115,213,112,0.3379552504595589) 0%, rgba(0,255,134,1) 100%);
}

header img {
    border-radius: 70%;
}

header h2 {
    color: grey;
    display: inline-block;
    position: relative;
    bottom: 35px;
    left: 20px;
}
